[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Private Chromium Web Browser
GenericName=Web Browser
Exec=chromium-browser --password-store=basic --incognito https://franckf.gitlab.io/startpage/
Terminal=false
Icon=chromium-browser
Type=Application
Categories=Network;WebBrowser;
Comment=
Path=
StartupNotify=false
