[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Gitlab
GenericName=Gitlab with surf
Exec=surf -u "Mozilla/5.0 (Windows NT 10.0;) Gecko Firefox/66.0" -dgNpiS -a a https://framagit.org/efydd
Terminal=false
Icon=surf
Type=Application
Categories=Network;GTK;WebBrowser;
