[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Rotate screen inverted
GenericName=Rotate screen inverted
Exec=xrandr --output HDMI-1 --rotate inverted
Terminal=false
Icon=computer
Type=Application
Categories=Utility;