[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Shutdown
GenericName=Shutdown
Exec=systemctl poweroff --ignore-inhibitors
Terminal=false
Icon=system-shutdown
Type=Application
Categories=System;