[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Check Repository
GenericName=Check my repositories
Exec=urxvt -e sh -ic 'bash /home/$USER/.config/scripts/check_repository.sh'
Terminal=false
Icon=applications-development
Type=Application
Categories=Application;Utility;