[Desktop Entry]
Type=Application
Name=chromium-ublock
Exec=flatpak run org.chromium.Chromium --profile-directory="Profile 2"
Icon=org.chromium.Chromium
