[Desktop Entry]
Name=Cockpit
Name[ca]=Cockpit
Name[cs]=Cockpit
Name[de]=Cockpit
Name[es]=Cockpit
Name[fi]=Cockpit
Name[fr]=Cockpit
Name[hr]=Cockpit
Name[hu]=Cockpit
Name[ja]=Cockpit
Name[ko]=Cockpit
Name[my]=Cockpit
Name[pa]=ਕਾਕਪਿਟ
Name[pl]=Cockpit
Name[pt_BR]=Cockpit
Name[tr]=Kokpit
Name[uk]=Cockpit
Name[zh_CN]=Cockpit
Comment=A user interface for GNU/Linux servers
Comment[ca]=Una interfície d'usuari per als servidors GNU/Linux
Comment[cs]=Uživatelské rozhraní pro GNU/Linux servery
Comment[de]=Eine Benutzerschnittstelle für GNU/Linux Server
Comment[es]=Interfaz de usuario para servidores GNU/Linux
Comment[fi]=Käyttöliittymä GNU/Linux-palvelimille
Comment[fr]=Une interface utilisateur pour serveurs GNU/Linux
Comment[ja]=GNU/Linux サーバーのユーザーインターフェース
Comment[pa]=ਗਨੂ/ਲੀਨਕਸ ਸਰਵਰ ਦਾ ਵਰਤੋਂਕਾਰ ਇੰਟਰਫੇਸ
Comment[pl]=Interfejs użytkownika dla serwerów GNU/Linux
Comment[pt_BR]=A interface de usuário para servidores GNU/Linux
Comment[tr]=GNU/Linux sunucular için bir kullanıcı arayüzü
Comment[uk]=Інтерфейс користувача для серверів GNU/Linux
Comment[zh_CN]=一个 GNU/Linux 服务器管理界面
Icon=cockpit
Exec=xdg-open http://localhost:9090
Terminal=false
Type=Application
Categories=GNOME;GTK;System;Profiling;
Keywords=Remote;Administration;
Keywords[ca]=Remot;Administració;
Keywords[es]=Remoto/a; Administración;
Keywords[fr]=À distance;Administration;
Keywords[hu]=Távoli;Adminisztáció;
Keywords[ja]=リモート;管理;
Keywords[pl]=Zdalna;Administracja;
Keywords[pt_BR]=Remoto; Administração;
Keywords[tr]=Uzak;Yönetim;
Keywords[uk]=віддалене;адміністрування;
Keywords[zh_CN]=Remote;Administration;
