[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Exit i3
GenericName=Log out and exit i3
Exec=i3-msg exit
Terminal=false
Icon=system-log-out
Type=Application
Categories=System;