[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Lock
GenericName=Lock the system with i3
Exec=i3lock --nofork --color=272822 --tiling --image=/home/$USER/.config/themes/lock.png
Terminal=false
Icon=system-lock-screen
Type=Application
Categories=System;