[Desktop Entry]
Type=Application
Version=1.0
Name=OpenRA - Dune 2000
GenericName=Real Time Strategy Game
GenericName[de]=Echtzeit-Strategiespiel
Comment=Reimagining of early Westwood Games
Icon=net.openra.OpenRA.openra-d2k
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=openra-d2k-wrapper --file-forwarding net.openra.OpenRA @@u %U @@
Terminal=false
Categories=Game;StrategyGame;
MimeType=x-scheme-handler/openra-d2k-release-20190314;
X-Flatpak=net.openra.OpenRA
NoDisplay=true
