[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=NewsBoat
GenericName=RSS feeds
Exec=xfce4-terminal -T rss -e "newsboat --config-file=/home/$USER/.config/newsboat/config --url-file=/home/$USER/.config/newsboat/urls --cache-file=/home/$USER/.config/newsboat/cache.db"
Terminal=false
Icon=help-browser
Type=Application
Categories=Utility;WebBrowser;