[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=ReadMe
GenericName=Edit text files
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 com.gexperts.Tilix --maximize -e nvim -p /var/home/efydd/Documents/readme.md /var/home/efydd/Documents/path
Terminal=false
Type=Application
Icon=nvim
Categories=Utility;TextEditor;
StartupNotify=false
