[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=ReadMe
GenericName=Edit text files
Exec=tilix --maximize -e nvim -p /home/efydd/Documents/readme.md /home/efydd/Documents/path
Terminal=false
Type=Application
Icon=nvim
Categories=Utility;TextEditor;
StartupNotify=false
