[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Reboot
GenericName=Reboot the system
Exec=systemctl reboot --ignore-inhibitors
Terminal=false
Icon=system-reboot
Type=Application
Categories=System;