[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Rotate screen right
GenericName=Rotate screen right
Exec=xrandr --output HDMI-1 --rotate right
Terminal=false
Icon=computer
Type=Application
Categories=Utility;