[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=VSCodium Node
GenericName=Code Editing. Redefined with Node SDK
Comment=Code Editing. Redefined with Node SDK
Exec=FLATPAK_ENABLE_SDK_EXT=node14 /usr/bin/flatpak run --branch=stable --arch=x86_64 --command=/app/bin/codium --file-forwarding com.vscodium.codium
Terminal=false
Icon=accessories-text-editor
Type=Application
Categories=Development;Utility;
