[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=xterm Full
GenericName=Simple Terminal
Exec=xterm -rv +sb -fullscreen
Terminal=false
Icon=computer
Type=Application
Categories=Utility;Terminal;
# Ctrl click gauche : Main menu
# Ctrl click droit  : Vt menu
# Ctrl click milieu : font menu
